* {
  font-family: Arial, sans-serif;
}
body {
  background-image: url(./bg4.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  background-color: rgba(224, 219, 219, 0.24);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  background-color: rgba(31, 30, 30, 0.24);
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  color: black;
  background-color: rgba(31, 30, 30, 0.24);
  padding: 10px 15px;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #008080;
}

.back-to-home {
  position: absolute;
  top: 45px;
  left: 8%;
  transform: translateX(-50%);
  text-decoration: none;
  padding: 10px 20px;
  background-color: none;
  color: #00FFFF;
  border: 1px solid #00FFFF;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-to-home:hover {
  background-color: #008080;
}
